@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
}

.loadingWrapper {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.loadingGif {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.39);
  border-radius: 0 0 15px 15px;
}

.navBar h1 {
  color: #1250ad;
  font-size: 1.8em;
}

.navBar .links a {
  margin-right: 20px;
  color: black;
  text-decoration: none;
}

.content {
  position: relative;
  justify-self: center;
  justify-content: center;
  background-color: rgba(180, 180, 180, 0.356);
  padding: 20px;
}

.newArticle {
  background-color: rgb(59, 159, 252);
  color: black;
  text-decoration: none;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.newArticle:hover {
  background-color: rgb(96, 167, 233);
}

.home {
  display: grid;
  grid-template-columns: 1fr;
}

.article-preview {
  position: relative;
  display: grid;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.39);
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.article-preview:hover {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(59, 140, 207, 0.39);
  cursor: pointer;
}

.supprimer {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background-color: transparent;
  padding: 5px;
}

.supprimer:hover {
  box-shadow: 0 0 10px rgba(207, 30, 30, 0.705);
  border-radius: 1000px;
  cursor: pointer;
}